@import "./normalize.css";
@import "./fontface.css";

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  background-color: #546efe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.visible {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.inner-container {
  width: 1140px;
  margin: 0 auto;
  border: 1px solid red;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #52bfff;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #313131;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: inherit;
}

/* a.active {
  color: #52bfff;
} */

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #7a7a7a;
}

/* li > a:hover {
  color: #52bfff;
} */

.input.input-feedback {
  padding-left: 50px;

  @media (max-width: 769px) {
    padding-left: 25px;
  }
}
