@import '../../../styles/variable.scss';
.button-box {
  margin: 0px 10px;

  .button {
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: $colorBoulder;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .button.active {
    color: $colorMalibu;
  }

  .button:not(:last-child) {
    margin-right: 8px;
  }

  .button:last-child {
    margin-right: 0;
  }
}
