@import '../../../styles/variable.scss';
textarea {
  background: $colorAliceBlue;
  border-radius: 10px;
  padding: 15px 15px 15px 50px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $colorRockBlue;
  width: 440px;
  outline: none;
  border: 2px solid transparent;

  @media (max-width: 1000px) {
    max-width: 380px;
  }

  @media (max-width: 769px) {
    max-width: 100%;
    max-height: 80px;
    padding: 8px 8px 8px 25px;
  }
}

textarea:focus {
  border: 2px solid $colorCatskillWhite;
}

textarea::placeholder {
  @media (max-width: 769px) {
    font-size: 10px;
    line-height: 14px;
  }
}
